.result__content{
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}
.result{
    text-align: center;
}
.result__text--correct{
    color: blue;
}
.result__text--incorrect{
    color: red;
}
.answer-table{
    border: solid #ddd 1px;
}
.answer-table__inner{
    width: 100%;
}
.answer-table__header{
    border-bottom: solid #ddd 1px;
    background: #eee;
    font-weight: bold;
    padding: 15px;
    width: 20%;
}
.answer-table__text {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
.answer-table__row:last-child .answer-table__header,
.answer-table__row:last-child .answer-table__text {
    border-bottom-width: 0;
}